
.search {
    @include main-font;

    &__container {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__label {
        font-size: 0.9rem;
        @include main-font;
        font-weight: normal;

        @include tablet {
            font-size: 1rem;
        }

        @include desktop {
            font-size: 1.2rem;
            padding-bottom: 0.5rem;
        }
    }

    &__search {
        border-radius: 20px;
        border: 1px solid;
        margin: 0.5rem 0 1rem;
        padding: 0.5rem 2.5rem;
        background-color: $primary-color-2;
        background-image: url('../../assets/icons/search.svg');
        background-position: 1rem;
        background-repeat: no-repeat;
        border: 1px solid $primary-color-6;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        color: $primary-color-5;

        &:focus {
            outline: none;          
            background-color: $primary-color-5;
            color: $primary-color-1;
        }

        @include tablet {
            padding: 1rem 3rem;
            font-size: 1.5rem;
            border-radius: 30px;
            margin: 0.5rem 0;
            width: 75%;
        }
    }

    &__btn {
        @include btn;
        width: 5rem;

        @include tablet {
            @include tablet-btn;
            height: 3.875rem;
            margin: 0.5rem 0;
        }
    }
}