@font-face {
    font-family: 'Neue';
    src: url('../assets/fonts/NHaasGroteskTXPro-75Bd.ttf');
}

@font-face {
    font-family: 'Neue-Regular';
    src: url('../assets/fonts/NHaasGroteskTXPro-55Rg.ttf');
}