/* Breakpoints */
@mixin tablet {
	@media screen and (min-width: $tablet-breakpoint) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: $desktop-breakpoint) {
    	@content;
    }
}


/* Call To Actions */
@mixin btn {
    border: 1px solid $primary-color-1;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 0.5rem;
    background-color: $primary-color-2;
    color: $primary-color-5;
    font-size: 0.8rem;
    font-family: 'Neue-Regular';
    text-transform: uppercase;

    &:hover {
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transform: translateY(-1px);
      }

    &:focus {
        outline: none;          
        background-color: $primary-color-5;
        color: $primary-color-1;
    }
}

@mixin tablet-btn {
    @include btn;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 30px;
    padding: 1rem 1.5rem;
    width: 10rem;
}


/* Fonts */
@mixin heading {
    font-family: 'Neue';
    font-size: 2rem;
    color: $primary-color-4;
}

@mixin main-font {
    font-family: 'Neue-Regular';
    color: $primary-color-5;
    font-weight: bold;
}


