/* Breakpoints */
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

/* Colours */
$primary-color-1: #4056A1;
$primary-color-2: #8292c4;
$primary-color-3: #FFF;
$primary-color-4: #C5CBE3;
$primary-color-5: #DFE3F0;

